{% extends "admin/base.html.twig" %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/books.css') }}">{% endblock stylesheets %}

{% block main %}
    <main>
        <a class="link" href="{{ path('admin_club_create') }}">Créer un club</a>
        <section class="section">
            {% for club in clubs %}
                <div class="card">
                    <div class="card-text">
                        <h2>{{ club.title }}</h2>
                        <img src="{{ asset('uploads/cover/'~club.coverFilename) }}" alt="">
                        <h3>{{ club.content}}</h3>
                        {% if club.skatepark %}
                            <h3>{{ club.skatepark.town }} {{ club.skatepark.area }}</h3>
                        {% endif %}
                    </div>
                    <a class="link" href="{{ path('admin_club', {"id": club.id}) }}">Voir le club</a>
                    <a class="link" href="{{ path('admin_club_update', {"id": club.id}) }}">Modifier le club</a>
                    <a class="link" href="{{ path('admin_club_delete', {"id": club.id}) }}">Supprimer le club</a>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock main%}