{% extends "admin/base.html.twig" %}


{% block main %}
    <main>
        <section class="section">
            {% for club in lastClubs %}
                <div class="card">
                    <div class="card-text">
                        <h2>{{ club.title }}</h2>
                        {% if club.author %}
                            <h3>{{ club.skatepark.town }} {{ club.skatepark.area }} {{ club.zippcode }}</h3>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <a href="{{ path('admin_clubs') }}">Voir tous les clubs</a>
        </section>

        <section class="section">
            {% for skatepark in lastSkatepark %}
                <div class="card">
                    <div class="card-text">
                        <h2>{{ skatepark.town }} {{ skatepark.area }} {{ skatepark.zippcode }}</h2>
                    </div>
                </div>
            {% endfor %}
            <a href="{{ path('admin_skateparks') }}">Voir tous les skateparks</a>
        </section>
    </main>
{% endblock main%}