{% extends "admin/base.html.twig" %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/books.css') }}">{% endblock stylesheets %}

{% block main %}
    <main>
        <a class="link" href="{{ path('admin_shop_create') }}">Créer un shop</a>
        <section class="section">
            {% for shop in shops %}
                <div class="card">
                    <div class="card-text">
                        <h2>{{ shop.title }}</h2>
                        <img src="{{ asset('uploads/cover/'~shop.coverFilename) }}" alt="">
                        <h3>{{ shop.content}}</h3>
                        {% if shop.skatepark %}
                            <h3>{{ shop.skatepark.town }} {{ shop.skatepark.area }}</h3>
                        {% endif %}
                    </div>
                    <a class="link" href="{{ path('admin_shop', {"id": shop.id}) }}">Voir le shop</a>
                    <a class="link" href="{{ path('admin_shop_update', {"id": shop.id}) }}">Modifier le shop</a>
                    <a class="link" href="{{ path('admin_shop_delete', {"id": shop.id}) }}">Supprimer le shop</a>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock main%}