{% extends "admin/base.html.twig" %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/books.css') }}">{% endblock stylesheets %}

{% block main %}
    <main>
        <section class="section">
            <a href="{{ path('admin_skatepark_create')}}">Créer un skatepark</a>
            {% for skatepark in skateparks %}
                <div class="card">
                    <div class="card-text">
                        <h2>{{ skatepark.title }}</h2>
                        <img src="{{ asset('uploads/cover/'~club.coverFilename) }}" alt="">
                        <h3>{{ skatepark.content}}</h3>
                        {% if skatepark.club %}
                            <h3>{{ skatepark.club.town }} {{ skatepark.club.area }}</h3>
                        {% endif %}
                    </div>
                        <a href="{{ path('admin_skatepark', {'id': skatepark.id}) }}">Voir le skatepark</a>
                        <a href="{{ path('admin_skatepark_update', {'id': skatepark.id}) }}">Modifier le skatepark</a>
                        <a href="{{ path('admin_skatepark_delete', {'id': skatepark.id}) }}">Supprimer le skatepark</a>

                </div>
            {% endfor %}
        </section>
    </main>
{% endblock main%}